<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>stringKey</key>
	<string>$(SERVER_URL_STRING)</string>
	<key>integerKey</key>
	<string>$(INT_VALUE)</string>
	<key>floatKey</key>
	<string>$(FLOAT_VALUE)</string>
	<key>urlKey</key>
	<string>$(URL_VALUE)</string>
	<key>dataKey</key>
	<string>$(DATA_VALUE)</string>
	<key>dateKey</key>
	<string>$(DATE_VALUE)</string>
	<key>booleanTrueKey</key>
	<string>$(BOOLEAN_TRUE_VALUE)</string>
	<key>booleanFalseKey</key>
	<string>$(BOOLEAN_FALSE_VALUE)</string>
	<key>arrayKey</key>
	<string>$(ARRAY_VALUE)</string>
	<key>dictionaryKey</key>
	<string>$(DICTIONARY_VALUE)</string>
</dict>
</plist>
